body{
    background-color: rgb(170, 130, 130);
    height: 3000px;
}
header {
    width: 100%;
    height: 200px;
    text-align: center;
    border-bottom: 5px solid rgb(246, 7, 7);
    background: rgb(7, 0, 0);
    color: aliceblue;
    line-height: 200px;/*ставимо слова/текст рівно по центру*/
    float: left;/*розташування блоку*/

}
main{
    width: 30%;
    margin-left: 10%;
    background: rgb(6, 86, 3);
    padding: 20px 10%;
    float: left;/*розташування блоку*/

    position: relative; /*зміна позиції обєкту відносно його місця на сторінці*/
    top: 10px;/*змінює блок вниз за допомогою position: relative*/
    bottom: 100px;/*змінює блок вгору за допомогою position: relative*/
    right: 20px;/*змінює блок праворуч за допомогою position: relative*/
    left: 20px;/*змінює блок ліворуч за допомогою position: relative*/
    /*додавати можна тільки два значення до position: relative(вгору/вниз та вправо/вліво*/
    z-index: 1; /*умова при якій блок стає поверх іншого (працює тільки якщо в умовах є position: relative;)*/
}
aside{
    width: 20%;
    padding: 20px 2.5%;
    background: rgb(6, 86, 3);
    margin-left: 10%;
    float: left;/*розташування блоку*/

}
footer{
    width: 100%;
    height: 200px;
    text-align: center;
    border-bottom: 5px solid rgb(246, 7, 7);
    background: rgb(7, 0, 0);
    color: aliceblue;
    line-height: 200px;/*ставимо слова/текст рівно по центру*/
    float: left;/*розташування блоку*/
    position: relative; /*зміна позиції обєкту відносно його місця на сторінці*/
    z-index: 2; /*умова при якій блок стає поверх іншого (працює тільки якщо в умовах є position: relative;)*/
}

#add-to-cart{
    background: blue;
    color:rgb(1, 12, 21);
    text-align: center;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 60%;
    position: absolute;/*при такій умові absolute обєкт взагалі ніде не знаходиться (але переміщається від правого верхнього кута) */
    top: 200px;
    left: 100px;
    position: relative; /*зміна позиції обєкту відносно його місця на сторінці*/
    position: fixed;/*при такій умові fixed обєкт знаходиться на одному місці на екрані при пролистуванні сторінки вгору/вниз */
    z-index: 3; /*умова при якій блок стає поверх іншого (працює тільки якщо в умовах є position: relative;)*/
}

    /*Списки*/
#block{
    list-style: none;/*прибираєм стиль*/
    display: block;/*позицінуєм як блок*/
    width: 75%;
    margin-left: 10%;
    text-align: center;
    float:left;
    color: chartreuse;
    margin-bottom: 100px;
}
#block li{
    display: inline;/*всі елементи розміщені у рядок*/
    background: rgb(6, 9, 169);
    border: 3px solid silver;
    padding: 0 20px;
}
#block li:not(:last-of-type)/*звертаюсь до всіх елементів окрім останього елемента*/{
    margin-right: 20px;
}